{% extends "base.html.twig" %}

{% block title %}Liste de citations{% endblock %}
{% block hero %}Liste de citations | <a class="button is-rounded" href="{{ path('quotes_csv') }}">Download CSV</a>{% endblock %}
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        function doalert(checkboxElem, id) {
            if (checkboxElem.checked) {
                $.ajax({
                    url: "/like/add/" + id,
                    dataType: 'json',
                    success: function (data) {
                        // $(this).addClass("done");
                        // data.code
                        if (data.code === "ok") {
                            var number = parseInt($("#nblike" + id).html());
                            number++;
                            $("#nblike" + id).text(number);
                        }

                    }
                });
            } else {
                $.ajax({
                    url: "/like/remove/" + id,
                    dataType: 'json',
                    success: function (data) {
                        if (data.code === "ok") {
                            var number = parseInt($("#nblike" + id).html());
                            number--;
                            $("#nblike" + id).text(number);
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('like') }}
{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column is-four-fifths">
            {% if (query != '' and pagination.getTotalItemCount == 0) or pagination.getTotalItemCount > 0 %}
                <form method="GET" name="name">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" name="name" type="text" placeholder="Rechercher..."
                                   value="{{ query }}">
                        </div>
                        <div class="control">
                            <button class="button is-link">Rechercher</button>
                        </div>
                    </div>
                </form>
            {% endif %}
            <br>

            {% if pagination.getTotalItemCount == 0 and query != '' %}
                <article class="message is-danger">
                    <div class="message-body">
                        Aucun résultat ne correspond à <strong> {{ query }}</strong>.
                    </div>
                </article>
            {% endif %}


            {% if pagination.getTotalItemCount > 0 %}
                {% for quote in pagination %}
                    {% if loop.index0 is divisible by(3) %}
                        <div class="tile is-ancestor">
                    {% endif %}
                    <div class="tile is-parent" data-aos="fade-up">
                        <article class="tile is-child box">
                            {% for catg in quote.categorie %}
                                <span class="tag is-success is-normal">{{catg.name | capitalize}}</span>
                            {% endfor %}
                            <span class="tag is-warning">Créé par &nbsp; <a href="{{ path('profile' , {'username' : quote.author.username }) }}">{{ quote.author.username }}</a></span>


                            <p class="title">{{quote.content}}</p>
                            <p class="subtitle">{{quote.meta|capitalize}}</p>

                            {% set liked = "" %}
                            {% set likable = "true" %}

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {% if quote.author.id == app.user.id %}
                                    {% set likable = "false" %}
                                {% endif %}
                                {% for user in quote.users %}
                                    {% if user.id == app.user.id %}
                                        {% set liked = "checked" %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <input style="user-select: none;" type="checkbox"
                                   class="checkbox" {{ liked }} {{ is_granted("IS_AUTHENTICATED_REMEMBERED") and likable == 'true' ? '' : 'disabled' }}
                                   onchange="doalert(this,{{ quote.id }})"
                                   id="checkbox{{ quote.id }}"/>
                            <label style="user-select: none;" for="checkbox{{ quote.id }}">
                                <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                        <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                              id="heart" fill="#AAB8C2"/>
                                        <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5"/>

                                        <g id="grp7" opacity="0" transform="translate(7 6)">
                                            <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2"/>
                                            <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2"/>
                                        </g>

                                        <g id="grp6" opacity="0" transform="translate(0 28)">
                                            <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2"/>
                                            <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2"/>
                                        </g>

                                        <g id="grp3" opacity="0" transform="translate(52 28)">
                                            <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2"/>
                                            <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2"/>
                                        </g>

                                        <g id="grp2" opacity="0" transform="translate(44 6)">
                                            <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2"/>
                                            <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2"/>
                                        </g>

                                        <g id="grp5" opacity="0" transform="translate(14 50)">
                                            <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2"/>
                                            <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2"/>
                                        </g>

                                        <g id="grp4" opacity="0" transform="translate(35 50)">
                                            <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2"/>
                                            <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2"/>
                                        </g>

                                        <g id="grp1" opacity="0" transform="translate(24)">
                                            <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2"/>
                                            <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2"/>
                                        </g>
                                    </g>
                                </svg>
                            </label>
                            <span id="nblike{{ quote.id }}" style="user-select: none;">{{ quote.users | length }}</span>
                            {% if is_granted('quotes_edit',quote) %}
                                <a class="button is-info is-rounded " href="{{ path('quotes_edit',{'id': quote.id}) }}">Modifier
                                    &nbsp;<i class="far fa-edit"></i></a>
                            {% endif %}
                            {% if is_granted('quotes_delete',quote) %}
                                <a class="button is-danger is-rounded is-light"
                                   href="{{ path('quotes_delete', { 'id': quote.id }) }}">Supprimer &nbsp;<i
                                            class="fas fa-trash"></i></a>
                            {% endif %}
                        </article>
                    </div>
                    {% if loop.index is divisible by(3) or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% elseif pagination.getTotalItemCount == 0 and query== ''  %}
                <article class="message is-danger">
                    <div class="message-body">
                        Aucune citation n'a été trouvé. Veuillez ajouter une citation pour la voir apparaitre.
                    </div>
                </article>
            {% endif %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>

        </div>
        <div class="column">
        </div>
    </div>
{% endblock %}