{% extends "base.html.twig" %}

{% block title %}Liste de citations{% endblock %}
{% block hero %}Liste de citations{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column is-four-fifths">
            {% if quotes|length > 0 %}
                <form method="GET" name="name">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" name="name" type="text" placeholder="Rechercher..."
                                   value="{{ query }}">
                        </div>
                        <div class="control">
                            <button class="button is-link">Rechercher</button>
                        </div>
                    </div>
                </form>
            {% endif %}
            <br>

            {% if result == 'true' %}
                <a class="button is-danger" href="{{ path('quotes') }}">Retour</a>
            {% elseif result != 'true' and query != '' %}
                <p>Aucun résultat ne correspond à {{ query }}</p>
            {% endif %}

            {% if quotes|length > 0 %}
                {% for quote in quotes %}
                    {% if loop.index0 is divisible by(3) %}
                        <div class="tile is-ancestor" id="{{loop.index0}}">
                    {% endif %}
                    <div class="tile is-parent" data-aos="fade-up">
                        <article class="tile is-child box">
                            {% for catg in quote.categorie %}
                                <span class="tag is-success is-normal">{{catg.name | capitalize}}</span>
                            {% endfor %}
                            <p class="title">{{quote.content|capitalize}}</p>
                            <p class="subtitle">{{quote.meta|capitalize}}</p>
                            <a class="button is-info is-rounded" href="{{ path('quotes_edit',{'id': quote.id}) }}">Modifier
                                &nbsp;<i class="far fa-edit"></i></a>
                            <a class="button is-danger is-rounded"
                               href="{{ path('quotes_delete', { 'id': quote.id }) }}">Supprimer &nbsp;<i
                                        class="fas fa-trash"></i></a>
                        </article>
                    </div>
                {% if loop.index is divisible by(3) or loop.last %}
                    </div id="{{loop.index}}">
                {% endif %}
                {% endfor %}
            {% else %}
                <article class="message is-danger">
                    <div class="message-body">
                        Aucune citation n'a été trouvé. Veuillez ajouter une citation pour la voir apparaitre.
                    </div>
                </article>
            {% endif %}

        </div>
        <div class="column">
        </div>
    </div>



{% endblock %}