{% extends 'base.html.twig' %}

{% block title%}Citation aléatoire{% endblock %}
{% block hero %}Citation aléatoire{% endblock %}

{% block body %}
<section class="hero {{ random(['is-primary', 'is-warning','is-light','is-dark','is-success']) }}">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{ quote.content }}
            </h1>
            <h2 class="subtitle">
                {{ quote.meta }}
            </h2>
            <a class="button is-info is-rounded" href="{{ path('quotes_edit',{'id': quote.id}) }}">Modifier
                &nbsp;<i class="far fa-edit"></i></a>
            <a class="button is-danger is-rounded"
               href="{{ path('quotes_delete', { 'id': quote.id }) }}">Supprimer &nbsp;<i
                        class="fas fa-trash"></i></a>
        </div>
    </div>
</section>
{% endblock %}
