{% extends "base.html.twig" %}

{% block title %}Toutes les catégories{% endblock %}
{% block hero %}Toutes les catégories{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column is-two-thirds">
            <a class="button is-success is-rounded " href="{{ path('categorie_new') }}">Ajouter une catégorie &nbsp;<i class="fas fa-plus-circle"></i></a>
            <hr>
            {% if categories|length > 0 %}
                {% for categorie in categories %}
                    <article class="message">
                        <div class="message-body is-size-5">
                             Catégorie <strong>{{categorie.name }}</strong>
                            <div class="is-pulled-right">
                                <a class="button is-info " href="{{ path('categorie_show',{'slug': categorie.slug}) }}">Détail
                                    &nbsp;<i class="far fa-eye"></i></a>
                            <a class="button is-info is-rounded" href="{{ path('categorie_edit',{'slug': categorie.slug}) }}">Modifier
                                &nbsp;<i class="far fa-edit"></i></a>
                            <a class="button is-danger is-rounded"
                               href="{{ path('categorie_delete', { 'slug': categorie.slug }) }}">Supprimer &nbsp;<i
                                        class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <article class="message is-danger">
                    <div class="message-body">
                        Aucune catégorie n'a été trouvé. Veuillez ajouter une catégorie pour la voir apparaitre.
                    </div>
                </article>
            {% endif %}

        </div>
        <div class="column">
        </div>
    </div>



{% endblock %}