{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ categorie.name |capitalize}}{% endblock %}
{% block hero %}Catégorie {{ categorie.name |capitalize}}{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
        </div>
        <div class="column is-three-fifths">
            <a class="button is-info is-rounded" href="{{ path('categorie_edit',{'id': categorie.id}) }}">Modifier
                &nbsp;<i class="far fa-edit"></i></a>
            <a class="button is-danger is-rounded"
               href="{{ path('categorie_delete', { 'id': categorie.id }) }}">Supprimer &nbsp;<i
                        class="fas fa-trash"></i></a>
            <h1 class="title">Nom de la catégorie : {{ categorie.name }}</h1>

            {% if categorie.citations | length >0 %}
            <h2 class="subtitle">{% if categorie.citations | length <=1 %}Citation{% else %}Citations{% endif %} qui utilise la catégorie :</h2>
            {% for cit in categorie.citations %}
                <div class="tags has-addons">
                    <span class="tag is-medium is-light">{{ cit.content | slice(0,50) }}</span>
                    <span class="tag is-medium is-dark">{{cit.meta}}</span>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="column">
        </div>
    </div>

{% endblock %}
